.Nav{
    background-color: black;
    height: 120px;
}
.admin{
    background-color: #f26522;
    width: 250px;
    position: fixed;
    height: 100vh;
    padding-top: 20px;
}
.admin h2{
    padding: 22px;
    background-color: #cf4200;
}
.admin a{
    color: white;
    text-decoration: none;
}
.admin a:hover{
    color: black;
    text-decoration: none;
}
.Full{
    background: linear-gradient(black, #f26522, white);
    height: 100vh;
}
.Form{
    margin-left: 550px;
}
.Form h2{
    color: #f26522;
    text-decoration: underline;
    font-weight: 700;
    font-size: 70px;
    margin-left: 80px;
}
.Sheet{
    margin-left: 150px;  
}
label{
    margin-top: 30px;
    margin-right: 50px;
}
.btn0{
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: 50px;
    padding: 5px 70px 5px 70px;
    background-color: #f26522;
    color: white;
    border-color: #f26522;
}
.btn0:hover{
    background-color: white;
    color: #f26522;
}