.sec {
  background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),
  url("https://s7g10.scene7.com/is/image/ktm/KTM%20125%20DUKELEFT?wid=953&dpr=off");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  color: #ff6600;
}
.login-box h2 {
  margin-bottom: 20px;
}
.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0    ;
  border-radius: 6px;
}
.login-box button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 6px;
  background: #ff6600;
  color: white;
  font-weight: bold;
}
.login-box button:hover {
  background: transparent;
  border-color: #ff6600;
}
