#banner3{
    background-image: url(https://cdn.bajajauto.com/-/media/ktm/pro-experience/home-page/adventure/ride-a-ktm/desktop-banner-webp.ashx);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:63vh;
}
.hero{
    position: relative;
    top: 300px;
}
.hero h3{
    font-size: 60px;
    font-weight: 900;
}
.hero h6{
    font-size: 20px;
}
#box{
    align-items: center;
    text-align: center;
    background-color: rgb(225, 225, 225);
    padding: 30px;
    margin-top: 30px;
}
#box img{
    width: 80%;
    height: 50vh;
    margin-left: 65px;
}
#box .btn{
    background-color: #f26522;
    color: white;
    padding: 10px 200px 10px 200px;
}
#box p{
    font-size: 15px;
    font-weight: 100;
}
.card{
    padding: 30px;
}
.card h4{
    padding: 30px;
}