#top{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255));;
    padding: 50px;
}
#colect{
    margin-top: 50px;
}
#colect h1{
    font-weight: 900;
    font-size: 60px;
}
#product{
  background-color: #f0efef;
  padding-top: 20px;
}
#product h1{
  padding-bottom: 50px;
  font-weight: 900;
  font-size: 50px;
}
#product .logo{
    width: 20%;
    height: 8vh;  
}
.bike{
    width: 65%;
    height: 30vh;
    margin-left: 70px;
    transition: transform 0.4s ease;
}
.bike:hover{
    transform: scale(1.12);
}
#product .butt{
    display: flex;
    gap: 20px;
}
#product .btn{
    border-color: #f26522;
    background-color: transparent;
    color: #f26522;
    padding: 5px 35px 5px 35px;
    border-radius: 1px;
}
#product .btn:hover{
    background-color: #f26522;
    color: white;
}
#product .btn1{
    background-color: #f26522;
    color: white;
    padding: 5px 35px 5px 35px;
    border-radius: 1px;
    text-decoration: none !important;
}
#product .btn1:hover{
    color: #f26522;
    background-color: white;
    border-color: #f26522;
    border: 1px solid;
}
#product h6{
    font-size: 15px;
    font-weight: 900;
}
#product p{
    font-size: 11px;
    text-align: left;
    font-weight: 900;
}
#product .num{
    color: #f26522;
    font-weight: 900;
    font-size: 20px;
}
.price-container {
  width: 90%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}
.tabs {
  display: flex;
  gap: 100px;
  margin-bottom: 25px;
  font-weight: 900;
  font-size: 20px;
}
.tabs button {
  padding: 12px 25px;
  border: 2px solid #ff6600;
  background: white;
  font-weight: 700;
  cursor: pointer;
}
.tabs .active {
  background: #ff6600;
  color: white;
}
.title {
  margin-top: 20px;
  font-size: 35px;
  font-weight: 800;
}
.table-head {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  margin-top: 20px;
  background: #f1f1f1;
  font-weight: 700;
}
.table-head p{
    font-size: 25px;
    font-weight: 700;
}
.content .row {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  border-bottom: 1px solid #ddd;
}
.main-price{
    margin-left: 150px;
    padding-top: 30px;
    font-size: 20px;
    font-weight: 400;
}
.view {
  color: #ff6600;
  cursor: pointer;
  font-size: 14px;
  margin-left: 150px;
  text-align: center;
}
.view1 {
  color: #ff6600;
  cursor: pointer;
  font-size: 14px;
  margin-left: 300px;
}
.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  align-items: center;
}
.price-col {
  display: flex;
  flex-direction: column;  
  gap: 3px;
}
.price-container h1{
    font-size: 70px;
    font-weight: 900;
}