#banner1{
    background-image: url(https://www.ktmindia.com/-/media/images/ktm/ktm-bikes/travel/2025-ktm-250-adv/spotlights/ktm-250-adventure_product-page_desktop-banner_1440x559_1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:70vh;
}
.map{
    visibility: hidden;
}
.map-page {
  display: flex;
  height: 100vh;
  gap: 20px;
  background: #f6f7f8;
}
.sidebar {
  width: 460px;
  padding: 24px;
  background: #fff;
  border-right: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.count {
  font-size: 25px;
  font-weight: 700;
}
.list {
  overflow-y: auto;
  flex: 1 1 auto;
}
.card {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 18px;
  margin-bottom: 16px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.02);
}

.card-head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.card h4 {
  margin: 0;
  position: relative;
  left: 35px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px; 
}
.addr {
  color: #666;
  font-size: 15px;
  text-align: center;
}
.view {
  background: transparent;
  border: 2px solid #ff6b00;
  color: #ff6b00;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  right: 80px;
}
.view:hover{
    background-color: #ff6b00;
    color: white;
}
.map-area {
  flex: 1;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  
}
.dealer-container {
  width: 50%;
  padding: 30px;
  background-size: cover;
  background-position: center;
  margin-top: 250px;
  margin-left: 40px;
}

.dealer-title {
  font-size: 40px;
  font-weight: 800;
  color: white;
  margin-bottom: 20px;
}

.label {
  color: black;
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
}

.label span {
  color: red;
}

.location-wrapper {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 12px;
  border: 2px solid #ddd;
  overflow: hidden;
}

.input-icon {
  padding: 15px;
  color: #ff6c00;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-box{
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

.location-input {
  flex: 1;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 16px;
}

.detect-btn {
  background: white;
  border: none;
  padding: 15px 20px;
  border-left: 2px solid #ddd;
  display: flex;
  gap: 6px;
  align-items: center;
  color: #ff6c00;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
